## AIRBNB DATA ANALYSIS - AN SAMPLE DATA FROM MONGODB -
#### THE DATASET CONSISTS OF DATA FROM DIFFERENT COUNTRIES LIKE, CANADA,SPAIN,USA,CHINA ETC.
#### WE ARE GOING TO MAKE DATA VISULIZATION AND SOME BASIC TREND ANALYSIS

In [74]:
#iMPORTANT PACKAGE 

import pandas as pd 
import pymongo
import csv
import numpy
import plotly_express as px
import matplotlib.pyplot as plt 
import collections
from collections import Counter

In [4]:
# CONNECTION FOR MONGODB

client=pymongo.MongoClient("mongodb+srv://narennrs:Nosql@cluster0.bli2z3o.mongodb.net/?retryWrites=true&w=majority")
db=client.sample_airbnb
collection=db.listingsAndReviews

DATA EXTRACTION FROM MONGODB CLOUD - ALTAS - USING FOR LOOP

In [14]:
tst=[]
for i in collection.find():
    data=dict(Id=i['_id'],
              Listing_url=i['listing_url'],
              Name=i.get("name"),
              Description=i.get("description"),
              Neighborhood_overview=i.get("neighborhood_overview"),
              House_rules=i.get("house_rules"),
              Property_type=i['property_type'],
              Room_type=i['room_type'],
              Bed_type=i['bed_type'],
              Minimum_nights=int(i['minimum_nights']),
              maximum_nights=int(i['maximum_nights']),
              cancellation_policy=i['cancellation_policy'],
              accommodates=int(i['accommodates']),
              bedrooms=i.get("bedrooms"),
              beds=i.get("beds"),
              number_of_reviews=int(i['number_of_reviews']),
              bathrooms=i.get('bathrooms'),
              amenities=', '.join(i['amenities']),
              price=i['price'],
              security_deposit=i.get('security_deposit'),
              cleaning_fee=i.get('cleaning_fee'),
              extra_people=i.get('extra_people'),
              guests_included=i['guests_included'],
              host_id=i['host']['host_id'],
              host_name=i['host']['host_name'],
              Street=i['address']['street'],
              Country=i['address']['country'],
              Country_code=i['address']['country_code'],
              longi=i['address']['location']['coordinates'][0],
              lati=i['address']['location']['coordinates'][1],
              Review_scores = i['review_scores'].get('review_scores_rating'),
              Is_exact_location=i['address']['location']['is_location_exact']
              )
    tst.append(data)
airbnb=pd.DataFrame(tst)

Declaring Airbnb to cvs file and saved in local directory

In [ ]:
#airbnb.to_csv("Airbnb.csv",index=False)
Airbnb=pd.read_csv('Airbnb1.csv')

Dataset Info To know the datatype and finding null values and missing values in the dataset

In [18]:
Airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     5555 non-null   int64
 1   Listing_url            5555 non-null   object
 2   Name                   5547 non-null   object
 3   Description            5460 non-null   object
 4   Neighborhood_overview  3314 non-null   object
 5   House_rules            3270 non-null   object
 6   Property_type          5555 non-null   object
 7   Room_type              5555 non-null   object
 8   Bed_type               5555 non-null   object
 9   Minimum_nights         5555 non-null   int64
 10  maximum_nights         5555 non-null   int64
 11  cancellation_policy    5555 non-null   object
 12  accommodates           5555 non-null   int64
 13  bedrooms               5550 non-null   float64
 14  beds                   5542 non-null   float64
 15  number_of_reviews      5555 non-null   int64
 16  bathrooms              5545 non-null   float64
 17  amenities              5525 non-null   object
 18  price                  5555 non-null   float64
 19  security_deposit       3471 non-null   float64
 20  cleaning_fee           4024 non-null   float64
 21  extra_people           5555 non-null   float64
 22  guests_included        5555 non-null   int64
 23  host_id                5555 non-null   int64
 24  host_name              5555 non-null   object
 25  Street                 5555 non-null   object
 26  Country                5555 non-null   object
 27  Country_code           5555 non-null   object
 28  longi                  5555 non-null   float64
 29  lati                   5555 non-null   float64
 30  Review_scores          4081 non-null   float64
 31  Is_exact_location      5555 non-null   bool
dtypes: bool(1), float64(10), int64(7), object(14)
memory usage: 1.3+ MB

In [54]:
Airbnb.drop(columns='Neighborhood_overview',inplace=True)

Finding missing values in the dataset

In [55]:
Airbnb.isnull().sum().sort_values(ascending=False)

House_rules            2285
Description              95
amenities                30
Name                      8
Street                    0
cleaning_fee              0
extra_people              0
guests_included           0
host_id                   0
host_name                 0
Id                        0
Country                   0
security_deposit          0
longi                     0
lati                      0
Review_scores             0
Country_code              0
bathrooms                 0
price                     0
Listing_url               0
number_of_reviews         0
beds                      0
bedrooms                  0
accommodates              0
cancellation_policy       0
maximum_nights            0
Minimum_nights            0
Bed_type                  0
Room_type                 0
Property_type             0
Is_exact_location         0
dtype: int64

Treating the Null values

In [56]:
# Treating the Null values using The Fillna method 

Airbnb.security_deposit.fillna(Airbnb.security_deposit.mode()[0],inplace=True)
Airbnb.cleaning_fee.fillna(Airbnb.cleaning_fee.median(),inplace=True)
Airbnb.Review_scores.fillna(Airbnb.Review_scores.median(),inplace=True)
Airbnb.bathrooms.fillna(Airbnb.bathrooms.median(),inplace=True)
Airbnb.beds.fillna(Airbnb.beds.median(),inplace=True)
Airbnb.bedrooms.fillna(Airbnb.bedrooms.median(),inplace=True)

In [68]:
#Treating the missing values for the string/object datatype.
Airbnb['House_rules'].fillna("No House Rule is provided",inplace=True)
Airbnb['Description'].fillna("No Description is provided",inplace=True)
Airbnb['amenities'].fillna("No Amenities is provided",inplace=True)
Airbnb['Name'].fillna("No Name is provided",inplace=True)

In [69]:
Airbnb.isnull().sum().sort_values(ascending=False)

Id                     0
amenities              0
Review_scores          0
lati                   0
longi                  0
Country_code           0
Country                0
Street                 0
host_name              0
host_id                0
guests_included        0
extra_people           0
cleaning_fee           0
security_deposit       0
price                  0
bathrooms              0
Listing_url            0
number_of_reviews      0
beds                   0
bedrooms               0
accommodates           0
cancellation_policy    0
maximum_nights         0
Minimum_nights         0
Bed_type               0
Room_type              0
Property_type          0
House_rules            0
Description            0
Name                   0
Is_exact_location      0
dtype: int64

Finding duplicated values in the dataset

In [72]:
Airbnb.duplicated().sum()

0

#### LET US SEE THE STATS OF THE DATASET

In [73]:
Airbnb.describe()

,Id,Minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included,host_id,longi,lati,Review_scores
count,5.555000e+03,5555.000000,5.555000e+03,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5.555000e+03,5555.000000,5555.000000,5555.000000
mean,1.664386e+07,5.564356,1.382776e+06,3.505851,1.411341,2.071287,27.606481,1.290639,278.766157,318.313771,84.683528,22.791899,1.747435,6.512138e+07,-6.623240,22.061230,93.603600
std,9.622558e+06,22.613861,5.256920e+07,2.297019,1.041547,1.617767,49.798376,0.701741,842.215531,1284.484759,95.020542,69.331511,1.487352,6.816258e+07,90.525974,28.092112,7.779357
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,1.000000,2.787000e+03,-159.678690,-34.088290,20.000000
25%,8.376039e+06,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,0.000000,35.000000,0.000000,1.000000,1.024978e+07,-73.599530,20.724390,93.000000
50%,1.711345e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,0.000000,60.000000,0.000000,1.000000,3.725685e+07,-8.611420,40.727130,95.000000
75%,2.461229e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,250.000000,100.000000,20.000000,2.000000,1.046962e+08,29.019605,41.162755,98.000000
max,3.295874e+07,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,39228.000000,2000.000000,2346.000000,16.000000,2.477517e+08,151.338980,45.665630,100.000000

### EDA for the AirBnb

In [76]:
country_cnt=Counter(Airbnb['Country'])
country_cnt

Counter({'United States': 1222,
         'Turkey': 661,
         'Canada': 649,
         'Spain': 633,
         'Australia': 610,
         'Brazil': 606,
         'Hong Kong': 600,
         'Portugal': 555,
         'China': 19})

In [81]:
cct_df=pd.DataFrame.from_dict(country_cnt,orient="index").sort_values(by=0)

In [78]:
cct_df

                  0
China            19
Portugal        555
Hong Kong       600
Brazil          606
Australia       610
Spain           633
Canada          649
Turkey          661
United States  1222